.Header-container {
    display: flex;
    flex-flow: row nowrap;
    height: 55px;
    margin: 17px;
    border-radius: 5px;
    border: 1px solid red;
    padding: 1;
    justify-content: space-between;
    background-color: black;
}

.Header-container p {
    justify-self: flex-start;
    margin-left: 16px;
}

.Header-container div{
    display: flex;
    flex-flow: row nowrap;
    justify-self: flex-end;
    justify-content: flex-end;

}

.title {
    font-size: 20px;
    color: white;
    margin: 12px;
} 

/* .Header-container img {
 height: 100px;
 width: 100px;
 position: relative;
 top: -25px;
 ;
} */
.logo {
    height: 60px;
    width: 70px;
    position: relative;
    top: -2px

}

.ecreate {
    height: 170px;
    width: 170px;
    position: relative;
    top: -60px;
}
