.footer {
    background-color: black;
    font-size: 18px;
    color:white;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: baseline;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.button-div {
    background-color: black;
    color:white;
    padding: 8px;
}