.Body-container{
    display: flex;
    height: auto;
    margin: 15px;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid blue;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* flex-direction: column; */
}

.category-rows{
    display: flex;
    /* flex: 50%; */
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 100%; */
    padding: 15px;
    margin: 15px;
    border-style: solid;
    border-color: blue;
}

.category-columns{
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 6;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-color: red;
}
